<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sugaring, Waxing, Tanning, and Facials" />
    <meta name="keywords" content="sugarmama, sugar, mama, sugarmamaskinsugartan, sugaring, waxing, spray tanning, facial, 
    microderm, stanton, huntington beach, luxury, serene, rich, royal, best, orange county, tan, silky, soft, smooth" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>SugarMaMa Skin &#8226; Sugar &#8226; Tan</title>
     <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

     <!--STYLES-->
     <link rel="stylesheet" href="/linker/styles/bootstrap.min.css">
     <link rel="stylesheet" href="/linker/styles/custom.css">
     <link rel="stylesheet" href="/linker/styles/default/default.css">
     <link rel="stylesheet" href="/linker/styles/light/light.css">
     <link rel="stylesheet" href="/linker/styles/nivo-slider.css">
     <!--STYLES END-->
</head>
<body>
    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/jquery-1.10.2.js"></script>
    <script src="/linker/js/jquery.validate.min.js"></script>
    <script src="/linker/js/bootstrap.min.js"></script>
    <script src="/linker/js/jquery.nivo.slider.pack.js"></script>
    <script src="/linker/js/validation.js"></script>
    <!--SCRIPTS END-->
    <%- partial('partials/topNav') %>
    <div class="container">
      <% if (flash_error) { %>
        <div class="alert alert-danger alert-dismissable" style="margin-top: 20px;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <% flash_error.forEach(function(error){ %>
                <p><%=error.message %></p>
            <% }) %>
        </div>
      <% } %>

      <% if (flash_notice) { %>
        <div class="alert alert-success alert-dismissable" style="margin-top: 20px;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <% flash_notice.forEach(function(notice){ %>
                <p><%=notice.message %></p>
            <% }) %>
        </div>
      <% } %>

      <%- body %>      
    </div>
    <%- partial('partials/bottomNav') %>
</body>
</html>
